#Order .Order-Container {
  width: clamp(1px, 100%, 768px);
  margin: auto;
}
#Order .Order-Container .Order-Title {
  width: 100%;
  left: 0px;
  height: 70px;
  position: fixed;
  background-color: #fff;
}
#Order .Order-Container .Order-Title .Title-Container {
  height: 70px;
  width: clamp(1px, 100%, 768px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--gap_20);
}
#Order .Order-Container .Order-Title .Title-Container .ID-Desktop {
  display: flex;
  gap: 10px;
  align-items: center;
}
#Order .Order-Container .Order-Title .Title-Container .ID-Desktop p {
  color: var(--text_colour_dkgray);
}
#Order .Order-Container .Order-Title .GoBack {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--gap_10);
}
#Order .Order-Container .Order-Title .GoBack h3 {
  font-weight: var(--font_weight_600);
}
#Order .Order-Container .Order-Title .GoBack:hover svg path {
  stroke: var(--colour_primary_dark);
}
#Order .Order-Container .Order-Title .GoBack:hover h3 {
  color: var(--colour_primary_dark);
}
#Order .Order-Container .Order-Title .Title h2 {
  font-weight: var(--font_weight_500);
}
#Order .Order-Container .Status-Card {
  padding: var(--gap_20);
  padding-top: 90px;
  width: 100%;
  background-color: var(--colour_primary_dark);
  display: flex;
  justify-content: center;
  gap: var(--gap_20);
  align-items: center;
}
#Order .Order-Container .Status-Card .Status-Detail .Status-Main h2 {
  color: var(--text_colour_white);
  font-weight: var(--font_weight_500);
  letter-spacing: 1px;
}
#Order .Order-Container .Status-Card .Status-Image svg path {
  stroke: var(--text_colour_white);
}
#Order .Order-Container .Section-Container {
  background-color: #fff;
  margin: var(--gap_20) 0px;
  display: flex;
  flex-wrap: wrap;
}
#Order .Order-Container .Section-Container .Section {
  margin: var(--gap_20) auto;
  display: flex;
  flex: 1 1 33%;
}
#Order .Order-Container .Section-Container .Section .Icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  height: 100%;
}
#Order .Order-Container .Section-Container .Section .Icon svg path {
  stroke: var(--text_colour_dkgray);
}
#Order .Order-Container .Section-Container .Section .Details {
  padding-top: 9px;
}
#Order .Order-Container .Section-Container .Section .Details .Title h3 {
  font-weight: var(--font_weight_600);
}
#Order .Order-Container .Section-Container .Section .Details p {
  color: var(--text_colour_dkgray);
}
#Order .Order-Container .Section-Container .Section .Details .details-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap_20);
}
#Order .Order-Container .Section-Container .Section .Details .details-section h3 {
  font-weight: var(--font_weight_600);
}
#Order .Order-Container .Section-Container .Section.Visual {
  width: 100%;
  justify-content: center;
}
#Order .Order-Container .Section-Container .Section.Visual .Progress {
  display: flex;
  flex-direction: column;
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon {
  display: flex;
  align-items: center;
  padding: 0px;
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image {
  aspect-ratio: 1/1;
  width: 160px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg_colour_white);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image svg {
  width: 90px;
  fill: var(--bg_colour_black);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image svg path {
  stroke: none;
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Text {
  display: grid;
  place-items: center;
  height: 80px;
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Text h3 {
  color: var(--text_colour_dkgray);
  font-weight: var(--font_weight_600);
  font-size: var(--font_size_18);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status.completed .Image {
  background-color: var(--colour_primary_darker);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status.completed .Image svg {
  fill: var(--bg_colour_white);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status.completed .Text h3 {
  color: var(--text_colour_black);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .bar-progress {
  width: 120px;
  height: 7px;
  background-color: var(--bg_colour_white);
  transform: translateY(-40px);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .bar-progress.completed {
  background-color: var(--colour_primary_darker);
}
#Order .Order-Container .Section-Container .Section.Visual .Progress .Text {
  text-align: center;
}
#Order .Order-Container .Section-Container .Section.Product {
  width: 100%;
  margin: 0px;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total {
  width: clamp(350px, 100%, 520px);
  border: 2px solid var(--bg_colour_lgray);
  border-radius: 6px;
  padding: var(--gap_20);
  text-align: end;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .Subtotal h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .Subtotal h3 span {
  display: block;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .Subtotal h3 span.reason {
  width: 200px;
  margin-right: var(--gap_10);
  font-weight: var(--font_weight_600);
  font-size: var(--font_size_18);
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .Subtotal h3 span.amount {
  width: 150px;
  font-size: var(--font_size_18);
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .total {
  margin-top: var(--gap_10);
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .total h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .total h3 span {
  display: block;
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .total h3 span.reason {
  width: 200px;
  margin-right: var(--gap_10);
}
#Order .Order-Container .Section-Container .Section.Product .Order-Total .total h3 span.amount {
  width: 150px;
}
#Order .Order-Container .Section-Container .Section.Product.Total {
  margin: 0px;
}
#Order .Order-Container .Section-Container.Details {
  gap: var(--gap_20);
  margin: auto;
  justify-content: center;
  padding: var(--gap_20);
}
#Order .Order-Container .Section-Container.Details .Section {
  width: 100%;
  border-radius: 8px;
  margin: 0px;
  padding: var(--gap_10);
  border: 2px solid var(--bg_colour_lgray);
}
#Order .Order-Container .Section-Container.Button {
  padding: 0px var(--gap_20);
  margin: 20px auto;
  max-width: 100%;
  justify-content: center;
  gap: var(--gap_20);
}
#Order .Order-Container .Section-Container.Product {
  margin: 0px;
}
#Order .Order-Container .Section-Container.Product .Section.Product {
  padding: var(--gap_20);
  gap: 0px var(--gap_10);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#Order .Order-Container .Section-Container.Product .Section.Product .Product {
  min-width: 360px;
  flex: 1 1 100%;
  margin: 5px 0px;
}
#Order .Order-Container .Section-Container.Product .Section.Product.Total {
  width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 559px) {
  #Order .Order-Container .Order-Title .Title-Container .ID-Desktop {
    display: none;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status {
    width: 80px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image {
    width: 80px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image svg {
    width: 40px;
    height: 40px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .bar-progress {
    width: 40px;
    height: 8px;
    transform: translateY(-40px);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase {
    max-width: 100% !important;
    padding: var(--gap_10) var(--gap_20);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Name h3 {
    font-size: var(--font_size_14);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Name h3 span {
    display: block;
    font-size: var(--font_size_12);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase .Product-Detail .Product-Text .Product-Quantity .Orders p {
    font-size: var(--font_size_14);
    font-weight: var(--font_weight_500);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase .Product-Detail .Product-Text .Product-Quantity .Total-Orders {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  #Order .Order-Container .Section-Container.Button {
    flex-direction: column;
  }
  #Order .Order-Container .Section-Container.Button a {
    width: 100%;
    height: 60px;
  }
}
@media screen and (min-width: 560px) and (max-width: 1200xpx) {
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status {
    width: 120px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image {
    width: 120px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .Circle-Status .Image svg {
    width: 50px;
    height: 50px;
  }
  #Order .Order-Container .Section-Container .Section.Visual .Progress .Icon .bar-progress {
    width: 50px;
    height: 8px;
    transform: translateY(-40px);
  }
  #Order .Order-Container .Section-Container .Section.Product #ProductPurchase {
    max-width: 100% !important;
  }
}/*# sourceMappingURL=Order.css.map */