.Product-Detail {
  display: flex;
  gap: var(--gap_10);
  margin-top: 5px;
  flex-wrap: wrap;
  .Product-Text {
    width: calc(100%);
    height: fit-content;
    .Product-Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Product-Name {
        h3 {
          font-weight: var(--font_weight_600);
          font-size: var(--font_size_18);
          color: var(--text_colour_black);
        }
      }
      .Product-Status {
        p {
          font-size: var(--font_size_14);
          &.blue {
            color: var(--colour_primary_darker);
          }
          &.red {
            color: var(--bg_colour_red);
          }
          &.yellow {
            color: var(--bg_colour_yellow);
          }
          &.green {
            color: var(--bg_colour_green);
          }
        }
      }
    }
    .Product-Quantity {
      margin-top: 3px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .Orders {
        p {
          font-size: var(--font_size_14);
          color: var(--text_colour_dkgray);
        }
      }
      .Total-Orders {
        h3 {
          color: var(--text_colour_black);
        }
      }
    }
    .Product-Actions {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      gap: var(--gap_10);
      .btn {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 6px;
        display: grid;
        place-items: center;
        background-color: transparent;
        border: 2px solid var(--colour_primary_dark);
        cursor: pointer;
        svg {
          transition: 0.35s ease-in-out;
        }
        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .Product-Button {
    display: none;
    &.Mobile {
      width: 100%;
      .Product-Actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--gap_10);
      }
    }
  }
}
.userList,
.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: var(--gap_10) 0px;
  align-items: center;
  gap: var(--gap_10);
  .Profile-Details,
  .Category-Details {
    padding: 10px 0px;
    div {
      display: flex;
      span {
        display: block;
        color: var(--text_colour_dkgray);
        font-size: var(--font_size_18);
        &.title {
          width: 130px;
          font-size: var(--font_size_16);
          color: var(--text_colour_black);
          font-weight: var(--font_weight_600);
        }
      }
    }
  }
  div {
    flex: 1 1 10;
  }
}

.orderList {
  padding-top: 10px;
  .prod-Container {
    height: 0%;
    overflow: hidden;
    &.active {
      height: 100%;
    }
  }
}

.statisticList {
  width: var(--width_container);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  .Data-Container {
    box-shadow: var(--box_shadow);
    padding: 40px;
    border-radius: 12px;
    flex: 1 1 0;
    max-width: 500px;
    min-width: 300px;
    .Data-Title {
      margin-bottom: 20px;
      text-align: center;
    }
    canvas {
      width: 100%;  
    }
    &.Line {
      width: 100%;
      min-width: 100%;
    }
    &.sm {
      height: 100%;
      box-shadow: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      padding: 0px;
      .container-sm {
        padding: 20px;
        border-radius: 12px;
        box-shadow: var(--box_shadow);
        text-align: center;
        height: 100%;
      }
    }
  }
  // .ContainerStat {
  //   width: 100%;
  //   .Title {
  //     width: 100%;
  //     text-align: center;
  //     margin: 30px 0px;
  //   }

  //   .Cont {
  //     display: flex;
  //     width: 100%;
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     gap: var(--gap_10);

  //     // .Statistic-Container {
  //     //   width: fit-content;
  //     //   height: fit-content;
  //     //   border-radius: 6px;
  //     //   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
  //     //     rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  //     //   // .DataTitle {
  //     //   //   text-align: center;
  //     //   //   padding: 20px;
  //     //   //   border-bottom: 2px solid var(--bg_colour_lgray);
  //     //   //   h3 {
  //     //   //     font-weight: var(--font_weight_500);
  //     //   //   }
  //     //   // }
  //     //   // .data {
  //     //   //   display: grid;
  //     //   //   place-items: center;
  //     //   //   padding: 10px;
  //     //   //   letter-spacing: 3px;
  //     //   //   height: 70px;
  //     //   // }
  //     // }

  //     .wrapper {
  //       margin: 20px;
  //       h2 {
  //         text-align: center;
  //         margin-bottom: 20px;
  //       }
  //     }
  //   }
  // }
}
