.Home {
  .Home-Container {
    width: var(--width_container);
    margin: 0px auto;
    padding: var(--padding_20);
    .section {
      padding-top: 70px;
      .section-title {
        font-size: var(--font_size_24);
        color: var(--colour_primary_dark);
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 769px) {
  .Home {
    .heading-container {
      .heading {
        gap: 50px;
        flex-wrap: wrap-reverse;
        .title {
          width: 100%;
          text-align: center;
        }
        .images {
          width: 100%;
          justify-content: center;
          img {
            width: 300px;
          }
        }
      }
    }
  }
}
