#User {
  .User-Container {
    padding: 120px 20px;
    width: var(--width_container);
    margin: auto;
    display: flex;
    justify-content: center;
    gap: var(--gap_20);
    .Profile {
      width: 250px;
      .greeting {
        height: 35px;
        padding-bottom: var(--padding_10);
        font-size: var(--font_size_16);
      }
      .line {
        width: 100%;
        height: 1px;
        background-color: var(--bg_colour_lgray);
        margin-bottom: var(--gap_20);
      }
      .List {
        li {
          padding: var(--padding_10) 0px;
          display: flex;
          align-items: center;
          gap: var(--gap_20);
          .icon {
            width: 40px;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            svg {
              path {
                stroke: var(--text_colour_dkgray);
              }
            }
          }
          .name {
            h4 {
              font-size: var(--font_size_14);
              font-weight: var(--font_weight_600);
              color: var(--text_colour_dkgray);
            }
          }
          cursor: pointer;
          &.active {
            .icon {
              svg {
                path {
                  stroke: var(--colour_primary_dark);
                }
              }
            }
            .name {
              h4 {
                color: var(--colour_primary_dark);
              }
            }
          }
        }
      }
    }
    .Task {
      width: clamp(300px, 100%, 800px);
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  #User {
    .User-Container {
      flex-direction: column;
      .Profile {
        width: 100%;
        .greeting {
          text-align: center;
        }
        .List {
          display: flex;
          li {
            flex: 1 1 0;
            gap: 5px;
            flex-direction: column;
          }
        }
      }
    }
  }
}
