#ProductCard {
  flex: 1 1 calc(25% - 20px);
  aspect-ratio: 1/1.5;
  max-width: 400px;
  min-width: 250px;
  cursor: pointer;
  display: block;
  .Card-Container {
    canvas {
      background-color: blue;
      position: absolute;
    }
    .product-image {
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;
      img {
        width: 100%;
      }
      .Low-Stock {
        position: absolute;
        transform: translateY(20px);
        padding: 5px 10px;
        background-color: yellow;
        box-shadow: 3px 3px var(--colour_primary_darker);
        z-index: 2;
        p {
          color: var(--colour_primary_darker);
          font-weight: var(--font_weight_600);
        }
        &.Out {
          background-color: var(--bg_colour_lred);
        }
      }
    }
    .product-details {
      padding: 10px;
      height: 200px;
      .product-special {
        p {
          font-size: var(--font_size_12);
          color: var(--bg_colour_red);
        }
      }
      .product-category {
        margin-top: 2px;
        p {
          font-size: var(--font_size_12);
          color: var(--text_colour_dkgray);
        }
      }
      .product-title {
        h3 {
          letter-spacing: 0.5px;
          font-size: var(--font_size_18);
          color: var(--text_colour_black);
        }
      }
      .product-price {
        margin: 5px 0px;
        .price-before {
          p {
            font-size: var(--font_size_14);
            color: var(--text_colour_dkgray);
          }
        }
        .price-latest {
          font-size: var(--font_size_24);
          h3 {
            color: var(--text_colour_black);
            letter-spacing: 0.5px;
            display: flex;
            span {
              margin-right: 5px;
              transform: translateY(5px);
              font-size: var(--font_size_14);
            }
          }
        }
      }
      .product-description {
      }
      .product-buttons {
        display: flex;
        gap: var(--gap_10);
        .product-button {
          padding: 8px;
          display: grid;
          place-items: center;
          border-radius: 100%;
          cursor: pointer;
          background-color: transparent;
          &.cart {
            background-color: var(--colour_primary_dark);
            svg {
              path {
                stroke: var(--text_colour_white);
              }
            }
          }
          &.like {
            &.active {
              svg {
                fill: var(--bg_colour_red);
                path {
                  stroke: var(--bg_colour_red);
                }
              }
            }
          }
          &:hover {
            &.cart {
              background-color: var(--colour_primary_darker);
            }
            &.like {
              background-color: var(--bg_colour_lred);
              svg {
                path {
                  stroke: var(--bg_colour_red);
                }
              }
            }
          }
        }
      }
    }
  }
  &.Disabled {
    pointer-events: none;
    .Card-Container {
      .product-image {
        img {
          filter: grayscale(100%);
        }
      }
    }
  }
  &:hover {
    .Card-Container {
      .product-details {
        .product-title {
          text-decoration: underline;
        }
      }
    }
  }
}
