#ProductPurchase {
  padding: var(--padding_20);
  border-bottom: 1px solid var(--bg_colour_dkgray);
}
#ProductPurchase .Product-Detail {
  display: flex;
  gap: var(--gap_10);
  margin-top: 5px;
  flex-wrap: wrap;
}
#ProductPurchase .Product-Detail .Image {
  width: 120px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
#ProductPurchase .Product-Detail .Image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ProductPurchase .Product-Detail .Product-Text {
  width: calc(100% - 130px);
  height: -moz-fit-content;
  height: fit-content;
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Name h3 {
  font-weight: var(--font_weight_600);
  font-size: var(--font_size_18);
  color: var(--text_colour_black);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Status p {
  font-size: var(--font_size_14);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Status p.blue {
  color: var(--colour_primary_darker);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Status p.red {
  color: var(--bg_colour_red);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Status p.yellow {
  color: var(--bg_colour_yellow);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Title .Product-Status p.green {
  color: var(--bg_colour_green);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Quantity {
  margin-top: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#ProductPurchase .Product-Detail .Product-Text .Product-Quantity .Orders p {
  font-size: var(--font_size_14);
  color: var(--text_colour_dkgray);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Quantity .Total-Orders h3 {
  color: var(--text_colour_black);
}
#ProductPurchase .Product-Detail .Product-Text .Product-Actions {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  gap: var(--gap_10);
}
#ProductPurchase .Product-Detail .Product-Button {
  display: none;
}
#ProductPurchase .Product-Detail .Product-Button.Mobile {
  width: 100%;
}
#ProductPurchase .Product-Detail .Product-Button.Mobile .Product-Actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap_10);
}
#ProductPurchase.Order {
  border-bottom: none;
  align-items: center;
}
#ProductPurchase.Order .Product-Detail {
  justify-content: space-between;
}
#ProductPurchase.Order .Product-Image .Image {
  width: 100px;
}
#ProductPurchase.Order .Product-Text .Product-Title .Product-Name h3 span {
  color: var(--text_colour_dkgray);
  font-weight: var(--font_weight_500);
  font-size: var(--font_size_14);
}
#ProductPurchase.Order .Product-Text .Product-Quantity {
  align-items: flex-start;
}
#ProductPurchase.Order .Product-Text .Product-Quantity .Total-Orders {
  text-align: end;
}

@media screen and (min-width: 511px) and (max-width: 768px) {
  #ProductPurchase .Product-Detail .Product-Text .Product-Actions {
    display: none;
  }
  #ProductPurchase .Product-Detail .Product-Button {
    display: block;
  }
}
@media screen and (min-width: 1px) and (max-width: 510px) {
  #ProductPurchase .Product-Detail .Product-Text .Product-Title {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  #ProductPurchase .Product-Detail .Product-Text .Product-Actions {
    display: none;
  }
  #ProductPurchase .Product-Detail .Product-Text .Product-Quantity {
    flex-direction: column;
    align-items: flex-start;
  }
  #ProductPurchase .Product-Detail .Product-Text .Product-Quantity .Orders {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  #ProductPurchase .Product-Detail .Product-Button {
    display: block;
  }
}/*# sourceMappingURL=ProductUser.css.map */