.Comment-Section {
  width: 100%;
  height: 100%;
}
.Comment-Section .Comment-Container .buttons {
  display: flex;
  gap: var(--gap_10);
  margin-left: var(--gap_20);
  background-color: transparent;
  align-items: center;
  padding: var(--gap_10) var(--gap_20);
  border-radius: 6px;
  border: 2px solid var(--bg_colour_lgray);
  cursor: pointer;
}
.Comment-Section .Comment-Container .buttons .AddReview {
  display: grid;
  place-items: center;
}
.Comment-Section .Comment-Container .buttons p {
  color: var(--text_colour_black);
  font-weight: var(--font_weight_500);
  font-size: var(--font_size_14);
}
.Comment-Section .Comment-Container .buttons:hover {
  background-color: var(--colour_primary_dark);
  border: 2px solid var(--colour_primary_dark);
}
.Comment-Section .Comment-Container .buttons:hover p {
  color: var(--text_colour_white);
}
.Comment-Section .Comment-Container .buttons:hover svg path {
  stroke: #fff;
}
.Comment-Section .Comment-Container .buttons.active svg {
  transform: rotate(45deg);
}
.Comment-Section .Comment-Container .buttons.active:hover {
  background-color: var(--bg_colour_lred);
  border: 2px solid var(--bg_colour_red);
}
.Comment-Section .Comment-Container .buttons.active:hover p {
  color: var(--bg_colour_red);
}
.Comment-Section .Comment-Container .buttons.active:hover svg path {
  stroke: var(--bg_colour_red);
}
.Comment-Section .Comment-Container .Comment {
  margin: var(--gap_20);
  border-radius: 12px;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container {
  padding: var(--gap_15);
  display: flex;
  flex-direction: column;
  gap: var(--gap_10);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section {
  width: 100%;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Name {
  padding-left: 10px;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Name h3 {
  font-size: var(--font_size_18);
  font-weight: var(--font_weight_600);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Name p {
  margin-top: 0px;
  font-size: var(--font_size_14);
  color: var(--text_colour_dkgray);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Name input {
  border: 1px solid black;
  padding: var(--gap_10);
  width: 100%;
  font-size: var(--font_size_18);
  font-weight: var(--font_weight_600);
  border-radius: 6px;
  border: 2px solid var(--bg_colour_lgray);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Date-Posted p {
  font-size: var(--font_size_14);
  color: var(--bg_colour_dkgray);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Review-Text {
  margin-top: 5px;
  padding-left: 10px;
  width: 100%;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Review-Text p {
  text-align: justify;
  font-size: var(--font_size_16);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section .Review-Text textarea {
  display: block;
  width: 100%;
  height: 90px;
  border: 1px solid black;
  padding: var(--gap_10);
  font-size: var(--font_size_16);
  resize: none;
  border-radius: 6px;
  border: 2px solid var(--bg_colour_lgray);
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .Review-Section .Review-Information-Section.button {
  margin-top: 10px;
  justify-content: flex-end;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .image {
  display: grid;
  place-items: center;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .image svg {
  max-width: 300px;
  height: 300px;
}
.Comment-Section .Comment-Container .Comment .CommentDetail-Container .noreview {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--colour_primary_darker);
}

@media screen and (min-width: 1px) and (max-width: 500px) {
  .Comment-Section .Comment-Container .buttons {
    margin-left: 0px;
  }
  .Comment-Section .Comment-Container .Comment {
    margin: 20px 0px;
    text-align: left;
  }
}/*# sourceMappingURL=Comment.css.map */