.admin-Container {
  .Page {
    width: 100%;
    padding: var(--gap_10);
    display: flex;
    justify-content: center;
    .Page-Container {
      width: 100%;
      max-width: 570px;
      .title-container {
        margin-left: var(--gap_10);
        padding-bottom: var(--padding_10);
        margin: 15px 0px;
        .title {
          h1 {
            font-size: var(--font_size_24);
            color: var(--text_colour_black);
          }
        }
        .title-detail {
          p {
            font-size: var(--font_size_14);
            color: var(--text_colour_dkgray);
          }
        }
      }
      .bar {
        background-color: var(--bg_colour_lgray);
        height: 6px;
        border-radius: 12px;
        margin: 10px 10px;
        display: grid;
        .progress {
          height: 4;
          border-radius: 8px;
          &.red {
            background-color: var(--bg_colour_red);
          }
          &.yellow {
            background-color: var(--bg_colour_yellow);
          }
          &.green {
            background-color: var(--bg_colour_green);
          }
        }
      }
      .error-container {
        margin: var(--gap_10);
        margin-top: 0px;
        p {
          color: var(--bg_colour_red);
        }
      }
      .good-container {
        margin: var(--gap_10);
        margin-top: 0px;
        p {
          color: var(--bg_colour_green);
        }
      }
      .button-container {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        &.end {
          max-width: 570px;
          justify-content: flex-end;
        }
      }
    }
  }
  &.Orders {
    .Page {
      padding: var(--gap_10);
      .Page-Container {
        max-width: 700px;
      }
    }
  }
  &.Users {
    .Page {
      padding: var(--gap_10);
      .Page-Container {
        max-width: 700px;
      }
    }
  }
  &.Category {
    .Page {
      padding: 20px;
      .Page-Container {
        &.List {
          max-width: 700px;
          table {
            width: 100%;
            tr {
              height: 60px !important;
              display: block;
              border: 2px solid var(--bg_colour_lgray);
              border-radius: 6px;
              .CategoryContainer {
                display: flex;
                height: 100%;
                align-items: center;
                padding: 10px;
                div {
                  flex: 1 1 0;
                  display: flex;
                  &.Button {
                    justify-content: flex-end;
                  }
                }
              }
              margin: 10px 0px;
              height: 50px;
            }
          }
        }
      }
    }
  }
  &.Product {
    .Page {
      padding: var(--gap_10);
      .Page-Container {
        .Image-Container {
          display: flex;
          gap: var(--gap_10);
          .Add-Image {
            aspect-ratio: 1/1;
            border-radius: 8px;
            background-color: var(--bg_colour_white);
            width: 200px;
            margin-bottom: 10px;
            display: grid;
            place-items: center;
            cursor: pointer;
            overflow: hidden;
            &:hover {
              background-color: var(--bg_colour_lgray);
              svg {
                path {
                  stroke: var(--colour_primary_darker);
                }
              }
            }
            img {
              width: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
            &.Larger {
              width: 250px;
            }
          }
          input {
            display: none;
          }
        }
        &.List {
          max-width: 700px;
        }
      }
    }
  }
}
