.admin-Container .Page {
  width: 100%;
  padding: var(--gap_10);
  display: flex;
  justify-content: center;
}
.admin-Container .Page .Page-Container {
  width: 100%;
  max-width: 570px;
}
.admin-Container .Page .Page-Container .title-container {
  margin-left: var(--gap_10);
  padding-bottom: var(--padding_10);
  margin: 15px 0px;
}
.admin-Container .Page .Page-Container .title-container .title h1 {
  font-size: var(--font_size_24);
  color: var(--text_colour_black);
}
.admin-Container .Page .Page-Container .title-container .title-detail p {
  font-size: var(--font_size_14);
  color: var(--text_colour_dkgray);
}
.admin-Container .Page .Page-Container .bar {
  background-color: var(--bg_colour_lgray);
  height: 6px;
  border-radius: 12px;
  margin: 10px 10px;
  display: grid;
}
.admin-Container .Page .Page-Container .bar .progress {
  height: 4;
  border-radius: 8px;
}
.admin-Container .Page .Page-Container .bar .progress.red {
  background-color: var(--bg_colour_red);
}
.admin-Container .Page .Page-Container .bar .progress.yellow {
  background-color: var(--bg_colour_yellow);
}
.admin-Container .Page .Page-Container .bar .progress.green {
  background-color: var(--bg_colour_green);
}
.admin-Container .Page .Page-Container .error-container {
  margin: var(--gap_10);
  margin-top: 0px;
}
.admin-Container .Page .Page-Container .error-container p {
  color: var(--bg_colour_red);
}
.admin-Container .Page .Page-Container .good-container {
  margin: var(--gap_10);
  margin-top: 0px;
}
.admin-Container .Page .Page-Container .good-container p {
  color: var(--bg_colour_green);
}
.admin-Container .Page .Page-Container .button-container {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.admin-Container .Page .Page-Container .button-container.end {
  max-width: 570px;
  justify-content: flex-end;
}
.admin-Container.Orders .Page {
  padding: var(--gap_10);
}
.admin-Container.Orders .Page .Page-Container {
  max-width: 700px;
}
.admin-Container.Users .Page {
  padding: var(--gap_10);
}
.admin-Container.Users .Page .Page-Container {
  max-width: 700px;
}
.admin-Container.Category .Page {
  padding: 20px;
}
.admin-Container.Category .Page .Page-Container.List {
  max-width: 700px;
}
.admin-Container.Category .Page .Page-Container.List table {
  width: 100%;
}
.admin-Container.Category .Page .Page-Container.List table tr {
  height: 60px !important;
  display: block;
  border: 2px solid var(--bg_colour_lgray);
  border-radius: 6px;
  margin: 10px 0px;
  height: 50px;
}
.admin-Container.Category .Page .Page-Container.List table tr .CategoryContainer {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
}
.admin-Container.Category .Page .Page-Container.List table tr .CategoryContainer div {
  flex: 1 1 0;
  display: flex;
}
.admin-Container.Category .Page .Page-Container.List table tr .CategoryContainer div.Button {
  justify-content: flex-end;
}
.admin-Container.Product .Page {
  padding: var(--gap_10);
}
.admin-Container.Product .Page .Page-Container .Image-Container {
  display: flex;
  gap: var(--gap_10);
}
.admin-Container.Product .Page .Page-Container .Image-Container .Add-Image {
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: var(--bg_colour_white);
  width: 200px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
  overflow: hidden;
}
.admin-Container.Product .Page .Page-Container .Image-Container .Add-Image:hover {
  background-color: var(--bg_colour_lgray);
}
.admin-Container.Product .Page .Page-Container .Image-Container .Add-Image:hover svg path {
  stroke: var(--colour_primary_darker);
}
.admin-Container.Product .Page .Page-Container .Image-Container .Add-Image img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin-Container.Product .Page .Page-Container .Image-Container .Add-Image.Larger {
  width: 250px;
}
.admin-Container.Product .Page .Page-Container .Image-Container input {
  display: none;
}
.admin-Container.Product .Page .Page-Container.List {
  max-width: 700px;
}

.NoData {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  gap: 30px;
}
.NoData svg {
  aspect-ratio: 1/1;
  width: 50%;
  height: 70%;
  max-width: 450px;
}
.NoData h1 {
  color: var(--colour_primary_darker);
  font-size: var(--font_size_24);
}/*# sourceMappingURL=AdminSection.css.map */