#UserDetail {
  width: 100%;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  .UserDetail-Container {
    background-color: white;
    width: 800px;
    aspect-ratio: 4/3;
    border-radius: 6px;
    padding: var(--padding_20);
    box-shadow: var(--box_shadow);
    .User-Title {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: var(--font_size_24);
        display: flex;
        gap: var(--gap_10);
        align-items: center;
      }
      .back {
        &:hover {
          a {
            svg {
              path {
                stroke: var(--colour_primary_dark);
              }
            }
          }
        }
        a {
          display: grid;
          place-items: center;
        }
      }
    }
    .User-Details {
      .Section {
        margin: var(--gap_10) 0px;
        .Section-Title {
          h3 {
            display: flex;
            align-items: center;
            gap: var(--gap_10);
            font-size: var(--font_size_18);
          }
        }
        .Section-Details {
          margin-top: 10px;
          .details-Name,
          .details-State {
            display: flex;
            flex-wrap: wrap;
            .details {
              flex: 1 1 0;
              min-width: 300px;
            }
          }
          .details {
            margin-bottom: 10px;
            height: 55px;
            padding: 5px;

            .container-details {
              border: 1px solid var(--bg_colour_lgray);
              border-radius: 4px;
              padding: 10px;
              .label {
                position: absolute;
                transform: translateY(-21px);
                padding: 0px 4px;
                background-color: white;
                font-size: var(--font_size_14);
                color: var(--text_colour_dkgray);
              }
            }
          }
        }
      }
    }
  }
}
