#Title {
  width: 100%;
  text-align: center;
  margin: 40px 0px;
  .Title {
    color: var(--colour_primary_dark);
    font-size: var(--font_size_48);
    letter-spacing: 1px;
  }
  .Subtitle {
    margin-top: -5px;
    color: var(--text_colour_black);
    font-size: var(--font_size_18);
  }
}
