.ProductDetail {
  .product-title-admin {
    padding-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Container-ProductDetail {
    width: var(--width_container);
    margin: auto;
    padding: 120px var(--gap_20);
    display: flex;
    justify-content: center;
    .Product-Image-Container {
      display: flex;
      flex-direction: column;
      gap: var(--gap_20);
      padding: 10px;
      .Main-Image-Container {
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        width: 450px;
        .Main-Image {
          aspect-ratio: 1/1;
          display: grid;
          place-items: center;
          border-radius: 12px;
          border: 1px solid var(--bg_colour_lgray);
          overflow: hidden;
          img {
            width: 400px;
          }
        }
      }
    }
    .Product-Detail-Container {
      display: flex;
      flex-direction: column;
      width: clamp(1px, 100%, 700px);
      padding: 20px;
      .product-special {
        p {
          font-size: var(--font_size_14);
          color: var(--bg_colour_red);
        }
      }
      .product-title {
        .title {
          h3 {
            font-size: var(--font_size_48);
          }
        }
      }
      .product-price {
        .price-latest {
          h3 {
            display: flex;
            span {
              margin-top: 6px;
              font-size: var(--font_size_24);
            }
            font-size: var(--font_size_48);
          }
        }
        .price-before {
          text-decoration: line-through;
          font-size: var(--font_size_14);
          color: var(--text_colour_dkgray);
        }
      }
      .product-description {
        padding: var(--padding_20) 0px;
        p {
          text-align: justify;
          color: var(--text_colour_black);
        }
      }
      .quantity {
        padding: var(--padding_20) 0px;
        .quantity-button {
          display: flex;
          border-radius: 12px;
          button {
            width: 40px;
            aspect-ratio: 1/1;
            cursor: pointer;
          }
          .quantity-button-value {
            width: 100px;
            padding: 5px var(--gap_20);
            text-align: center;
          }
        }
      }
      .product-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: var(--padding_20) 0px;
      }
      .product-button {
        width: 40px;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        border-radius: 100%;
        cursor: pointer;
        &.cart {
          background-color: var(--colour_primary_dark);
          svg {
            path {
              stroke: var(--text_colour_white);
            }
          }
        }
        &.like {
          background-color: transparent;
          &.active {
            svg {
              fill: var(--bg_colour_red);
              path {
                stroke: var(--bg_colour_red);
              }
            }
          }
        }
        &:hover {
          &.cart {
            background-color: var(--colour_primary_darker);
          }
          &.like {
            background-color: var(--bg_colour_lred);
            svg {
              path {
                stroke: var(--bg_colour_red);
              }
            }
          }
        }
      }
    }
    &.Comment {
      padding-top: 0px;
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .ProductDetail {
    .Container-ProductDetail {
      flex-wrap: wrap;
      .Product-Image-Container {
        .Main-Image-Container {
          .Main-Image {
            width: 100%;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 500px) {
  .ProductDetail {
    .Container-ProductDetail {
      flex-wrap: wrap;
      .Product-Image-Container {
        padding: var(--gap_10) 0px;
        .Main-Image-Container {
          width: 100%;
          .Main-Image {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .Product-Detail-Container {
        padding: 0px;
      }
    }
  }
}
