#Admin {
  .Admin-Container {
    width: clamp(1px, 100%, 2400px);
    margin: auto;
    display: flex;
    justify-content: flex-start;

    .hamburger {
      aspect-ratio: 1/1;
      width: var(--width_icon);
      height: var(--width_icon);
      border-radius: 12px;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      background-color: transparent;
      div {
        width: 60%;
        height: 5px;
        background-color: var(--bg_colour_black);
        border-radius: 15px;
        &.top {
          width: 14px;
          transform: translateX(-3px);
        }
        &.bot {
          width: 15px;
          transform: translateX(-2px);
        }
      }
      &.active {
        div {
          &.top {
            width: 60%;
            transform: rotate(45deg) translate(7px, 7px);
          }
          &.mid {
            width: 0%;
            opacity: 0;
          }
          &.bot {
            width: 60%;
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
    }
    .Profile {
      position: fixed;
      width: 230px;
      height: 100%;
      padding: 40px;
      background-color: #f5f5f5;
      .greeting {
        height: 35px;
        padding-bottom: var(--padding_10);
        font-size: var(--font_size_16);
      }
      .List {
        transform: translateY(50px);
        li {
          padding: var(--padding_10) 0px;
          display: flex;
          align-items: center;
          gap: var(--gap_20);
          .icon {
            width: 40px;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            svg {
              path {
                stroke: var(--text_colour_dkgray);
              }
            }
          }
          .name {
            h4 {
              font-size: var(--font_size_16);
              font-weight: var(--font_weight_600);
              color: var(--text_colour_dkgray);
            }
          }
          cursor: pointer;
          &.active {
            .icon {
              svg {
                path {
                  stroke: var(--colour_primary_dark);
                }
              }
            }
            .name {
              h4 {
                color: var(--colour_primary_dark);
              }
            }
          }
        }
        &.Mobile {
          display: none;
        }
      }
    }
    .CurrentPage {
      padding-top: 40px;
      margin-left: 230px;
      width: calc(100% - 230px);
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 823px) {
  #Admin {
    .Admin-Container {
      .Profile {
        width: 60px;
        padding: 0px 10px;
        .greeting {
          display: none;
        }
        .List {
          .hamburger {
            display: flex;
          }
          li {
            height: 60px;
            overflow: hidden;
            .icon {
              svg {
                width: 30px;
                height: 30px;
              }
            }
            .name {
              opacity: 0;
            }
          }
        }
        &.active {
          width: 190px;
          .List {
            overflow: hidden;
            li {
              .name {
                opacity: 1;
              }
            }
          }
        }
      }
      .CurrentPage {
        padding-top: 40px;
        margin-left: 60px;
        width: calc(100% - 60px);
        &.active {
          margin-left: 190px;
          width: calc(100% - 190px);
        }
      }
    }
  }
}

@media screen and (min-width: 1px) and (max-width: 425px) {
  #Admin {
    .Admin-Container {
      .hamburger {
        display: flex;
        position: fixed;
        left: 10px;
        top: 10px;
        background-color: #fff;
        z-index: 4;
      }
      .Profile {
        .List {
          display: none;
          &.Mobile {
            display: block;
          }
        }
        display: none;
        &.Mobile {
          background-color: #fff;
          z-index: 2;
          display: block;
          width: 100%;
          transform: translateX(-100%);
          .greeting {
            text-align: center;
          }
          &.active {
            transform: translateX(0px);
          }
        }
      }
      .CurrentPage {
        padding-top: 70px;
        margin: 0px;
        width: 100%;
      }
    }
  }
}
