.LoginRegister {
  height: 100vh;
  .LoginRegister-Container {
    width: var(--width_container);
    margin: auto;
    height: 100%;
    display: grid;
    place-items: center;

    .form-section {
      width: clamp(320px, 100%, 1100px);
      height: 500px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: var(--padding_20);
      border-radius: 8px;
      background-color: white;
      .progress-container {
        flex: 1 1 40%;
        aspect-ratio: 1/1;
        background-color: var(--colour_primary_dark);
        border-radius: 8px;
        padding: var(--padding_20);
        background-image: url(./Assets/bg.svg);
        background-size: cover;
        background-position: center;
        h1 {
          color: var(--text_colour_white);
        }
        h5 {
          color: var(--colour_primary_accent);
        }
        .section {
          margin: 20px 0px;
          display: flex;
          align-items: center;
          gap: var(--gap_20);
          .number {
            border: 1px solid var(--bg_colour_white);
            width: 50px;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            border-radius: 100%;
            h2 {
              color: var(--text_colour_white);
            }
          }
          .page-name {
            h4 {
              color: var(--text_colour_white);
            }
          }
          &.active {
            .number {
              background-color: var(--colour_primary_accent);
              border: 1px solid var(--colour_primary_accent);
              h2 {
                color: var(--colour_primary_dark);
              }
            }
          }
        }
        .Image {
          height: fit-content;
          display: grid;
          place-items: center;
          svg {
            width: 220px;
            height: 200px;
          }
        }
      }
      form {
        width: 60%;
        max-width: 574px;
        padding-left: var(--padding_20);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .page {
          .title-container {
            margin-left: var(--gap_10);
            padding-bottom: var(--padding_10);
            margin: 15px 0px;
            .title {
              h1 {
                font-size: var(--font_size_24);
                color: var(--text_colour_black);
              }
            }
            .title-detail {
              p {
                font-size: var(--font_size_14);
                color: var(--text_colour_dkgray);
                &.required {
                  margin-top: 5px;
                  color: var(--text_colour_dkgray);
                  font-weight: var(--font_weight_600);
                  letter-spacing: 0.5px;
                }
              }
            }
          }
          .bar {
            background-color: var(--bg_colour_lgray);
            height: 6px;
            border-radius: 12px;
            margin: 10px 10px;
            display: grid;

            .progress {
              height: 4;
              border-radius: 8px;
              &.red {
                background-color: var(--bg_colour_red);
              }
              &.yellow {
                background-color: var(--bg_colour_yellow);
              }
              &.green {
                background-color: var(--bg_colour_green);
              }
            }
          }
          .error-container {
            margin: var(--gap_10) 0px;
            p {
              color: var(--bg_colour_red);
            }
          }
          .good-container {
            margin: var(--gap_10);
            margin-top: 0px;
            p {
              color: var(--bg_colour_green);
            }
          }
        }
        .others {
          margin: var(--gap_10) 0px;
          p {
            margin: 5px 0px;
            a {
              color: var(--colour_primary_dark);
            }
          }
        }
        .button-container {
          height: fit-content;
          display: flex;
          justify-content: space-between;
          &.end {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 1px) {
  .LoginRegister {
    .LoginRegister-Container {
      display: block;
      .form-section {
        height: fit-content;
        flex-direction: column;
        padding: 0px;
        .progress-container {
          max-height: 300px;
          text-align: center;
          .section-container {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            .section {
              flex-direction: column;
              width: 100px;
              .page-name {
                h4 {
                  font-size: var(--font_size_12);
                }
              }
            }
          }
        }
        form {
          width: 100%;
          padding: 0px var(--gap_20);
          margin: auto;
          .button-container {
            gap: 10px;
          }
        }
      }
    }
  }
}
