.Product-Detail {
  display: flex;
  gap: var(--gap_10);
  margin-top: 5px;
  flex-wrap: wrap;
  .Product-Image {
    .Image {
      width: 120px;
      aspect-ratio: 1/1;
      border: 1px solid black;
    }
  }
  .Product-Text {
    width: calc(100% - 130px);
    height: fit-content;
    .Product-Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Product-Name {
        h3 {
          font-weight: var(--font_weight_600);
          font-size: var(--font_size_18);
          color: var(--text_colour_black);
        }
      }
      .Product-Status {
        p {
          font-size: var(--font_size_14);
          &.blue {
            color: var(--colour_primary_darker);
          }
          &.red {
            color: var(--bg_colour_red);
          }
          &.yellow {
            color: var(--bg_colour_yellow);
          }
          &.green {
            color: var(--bg_colour_green);
          }
        }
      }
    }
    .Product-Quantity {
      margin-top: 3px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .Orders {
        p {
          font-size: var(--font_size_14);
          color: var(--text_colour_dkgray);
        }
      }
      .Total-Orders {
        h3 {
          color: var(--text_colour_black);
        }
      }
    }
    .Product-Actions {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      gap: var(--gap_10);
    }
  }
  .Product-Button {
    display: none;
    &.Mobile {
      width: 100%;
      .Product-Actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--gap_10);
      }
    }
  }
}
.userList,
.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--gap_10);
  margin: var(--gap_10) 0px;
  align-items: center;
  .Profile-Details,
  .Category-Details {
    div {
      display: flex;
      span {
        display: block;
        color: var(--text_colour_dkgray);
        font-size: var(--font_size_18);
        &.title {
          width: 130px;
          font-size: var(--font_size_16);
          color: var(--text_colour_black);
          font-weight: var(--font_weight_600);
        }
      }
    }
  }
}
.categoryList {
  border-bottom: 1px solid var(--bg_colour_lgray);
  .Category-Details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Category-ID {
      .title {
        width: fit-content;
      }
      span {
        margin: 0px 5px;
      }
    }
    .Category-Button {
      display: flex;
      gap: var(--gap_10);
    }
  }
}
