.Product-Detail {
  display: flex;
  gap: var(--gap_10);
  margin-top: 5px;
  flex-wrap: wrap;
  .Product-Text {
    width: calc(100%);
    height: fit-content;
    .Product-Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Product-Name {
        h3 {
          font-weight: var(--font_weight_600);
          font-size: var(--font_size_18);
          color: var(--text_colour_black);
        }
      }
      .Product-Status {
        p {
          font-size: var(--font_size_14);
          &.blue {
            color: var(--colour_primary_darker);
          }
          &.red {
            color: var(--bg_colour_red);
          }
          &.yellow {
            color: var(--bg_colour_yellow);
          }
          &.green {
            color: var(--bg_colour_green);
          }
        }
      }
    }
    .Product-Quantity {
      margin-top: 3px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .Orders {
        p {
          font-size: var(--font_size_14);
          color: var(--text_colour_dkgray);
        }
      }
      .Total-Orders {
        h3 {
          color: var(--text_colour_black);
        }
      }
    }
    .Product-Actions {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      gap: var(--gap_10);
      .btn {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 6px;
        display: grid;
        place-items: center;
        background-color: transparent;
        border: 2px solid var(--colour_primary_dark);
        cursor: pointer;
        svg {
          transition: 0.35s ease-in-out;
        }
        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .Product-Button {
    display: none;
    &.Mobile {
      width: 100%;
      .Product-Actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--gap_10);
      }
    }
  }
}
.userList,
.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: var(--gap_10) 0px;
  align-items: center;
  gap: var(--gap_10);
  .Profile-Details,
  .Category-Details {
    padding: 10px 0px;
    div {
      display: flex;
      span {
        display: block;
        color: var(--text_colour_dkgray);
        font-size: var(--font_size_18);
        &.title {
          width: 130px;
          font-size: var(--font_size_16);
          color: var(--text_colour_black);
          font-weight: var(--font_weight_600);
        }
      }
    }
  }
  div {
    flex: 1 1 10;
  }
}

.orderList {
  padding-top: 10px;
  .prod-Container {
    height: 0%;
    overflow: hidden;
    &.active {
      height: 100%;
    }
  }
}
